---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="attribution">
    Published on {{ page.date | date: "%b %e, %Y" }}, by <a href="{{ site.author_home  }}">{{ site.author }}</a></span>
  </div>

  <div class="entry">
    {{ content }}
  </div>

</article>

<br />

<hr />

<div class="related-posts">
  {% include related-posts.html %}
</div>

<br />

<div class="share-post">
  <i class="fa fa-share-alt-square fa-fw" aria-hidden="true"></i>&nbsp;Share:&nbsp;
  {% include share-buttons.html %}
</div>

<br />

{% if page.comments %}
  {% include disqus.html %}
{% endif %}